<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img src="https://avatars2.githubusercontent.com/u/40808539?s=460&u=dddc8de72ce19a379197db35ab4a86d990bf9589&v=4" class="card-img-top rounded-circle w-75" alt="...">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Rubens Andrade</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor Java Jr</p>
      <a href="https://www.linkedin.com/in/rubens-almeida-andrade/" class="btn btn-outline-info" target="_blank">Linkedin</a>
      <a href="https://github.com/Rubenscode" class="btn btn-outline-dark" target="_blank">Github</a>
    </div>
  </div>
